*.swp
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pyc
.ropeproject
.DS_Store
*-key.pem
*.encrypted
etcd.csr
etcd.pem
vault.csr
vault.pem
kube-apiserver.pem
kube-apiserver.csr
tmp/*
/.idea