[Unit]
Description=Vault unseal
Requires=vault.service

[Service]
User=vault
Type=oneshot
RuntimeDirectory=vault-unseal
RuntimeDirectoryMode=0700
Environment="VAULT_ADDR=https://127.0.0.1:8200"
EnvironmentFile=/etc/s3secrets
ExecStartPre=/opt/bin/s3secrets --region ${AWS_REGION} --bucket ${BUCKET_NAME} --output-dir %t/vault-unseal
ExecStart=/usr/bin/bash -c '/opt/bin/vault unseal $(cat /%t/vault-unseal/vault-unseal.key)'
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=etcd
MachineOf=vault.service
