[Unit]
Description=Kubernetes API Proxy Service
Documentation=https://github.com/UKHomeOffice/docker-static-haproxy

[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/s3secrets
EnvironmentFile=/etc/aws-environment

ExecStartPre=/usr/bin/docker pull quay.io/ukhomeofficedigital/static-haproxy:v0.0.1
ExecStartPre=-/usr/bin/docker kill kube-apiproxy
ExecStartPre=-/usr/bin/docker rm kube-apiproxy
ExecStart=/usr/bin/docker run \
  --name=kube-apiproxy \
  --net=host \
  quay.io/ukhomeofficedigital/static-haproxy:v0.0.1 \
  -p 127.0.0.1:6443,${KUBE_API_NODES}

ExecStop=/usr/bin/docker stop kube-apiproxy
ExecStop=/usr/bin/docker rm kube-apiproxy

[X-Fleet]
Global=true
MachineMetadata=role=kubernetes
