[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
RuntimeDirectory=kube-apiserver
RuntimeDirectoryMode=0700
EnvironmentFile=/etc/s3secrets
ExecStartPre=/opt/bin/s3secrets -region=${AWS_REGION} -bucket=${BUCKET_NAME} -output-dir=%t/kube-apiserver -path=kube-apiserver/
ExecStart=/opt/bin/hyperkube apiserver \
  --admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ResourceQuota \
  --cloud-provider=aws \
  --insecure-port=8080 \
  --secure-port=6444 \
  --token-auth-file=%t/kube-apiserver/tokens.csv \
  --authorization-mode=ABAC \
  --authorization-policy-file=%t/kube-apiserver/auth-policy.json \
  --service-cluster-ip-range=10.200.0.0/16 \
  --etcd-servers=https://127.0.0.1:2379 \
  --logtostderr=true \
  --tls-cert-file=%t/kube-apiserver/kube-apiserver-crt.pem \
  --tls-private-key-file=%t/kube-apiserver/kube-apiserver-key.pem
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=etcd
