[Unit]
Description=Kubernetes Security Policy
Documentation=https://github.com/UKHomeOffice/kube-cover

[Service]
Restart=always
RestartSec=10

RuntimeDirectory=kube-policy
RuntimeDirectoryMode=0700
EnvironmentFile=/etc/s3secrets
Environment="URL=https://github.com/UKHomeOffice/kube-cover/releases/download/v0.0.3/kube-cover_v0.0.3_linux_x86_64.gz"
Environment="OUTPUT_FILE=/opt/bin/kube-cover"
Environment="OUTPUT_FILE_GZ=/opt/bin/kube-cover.gz"
Environment="MD5SUM=a03a6de40a908e9bf54af00a6a314eb6"
Environment="GIN_MODE=release"

ExecStartPre=/usr/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/bash -c 'until [[ -x ${OUTPUT_FILE} ]] && [[ $(md5sum ${OUTPUT_FILE} | cut -f1 -d" ") == ${MD5SUM} ]]; do \
  rm -f /opt/bin/kube-cover && wget -O ${OUTPUT_FILE_GZ} ${URL} && gunzip ${OUTPUT_FILE_GZ} && chmod +x ${OUTPUT_FILE}; done'

ExecStartPre=/opt/bin/s3secrets -region=${AWS_REGION} -bucket=${BUCKET_NAME} -output-dir=%t/kube-policy -path=kube-policy/
ExecStart=/opt/bin/kube-cover \
  -logtostderr=true -v=3 \
  -bind=:6444 \
  -tls-cert=%t/kube-policy/kube-apiserver-crt.pem \
  -tls-key=%t/kube-policy/kube-apiserver-key.pem \
  -policy-file=%t/kube-policy/api-policy.json \
  -url=https://127.0.0.1:6443

[X-Fleet]
Global=true
MachineMetadata=role=etcd
