[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
StandardOutput=null
StandardError=null
LimitNOFILE=10240
RuntimeDirectory=kube-proxy
RuntimeDirectoryMode=0700
EnvironmentFile=/etc/s3secrets
EnvironmentFile=/etc/aws-environment

ExecStartPre=/opt/bin/s3secrets -region=${AWS_REGION} -bucket=${BUCKET_NAME} -output-dir=%t/kube-proxy -path=compute/kube-proxy/
ExecStart=/opt/bin/hyperkube proxy \
  --master=https://127.0.0.1:6443 \
  --kubeconfig=%t/kube-proxy/kubeconfig \
  --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=kubernetes
