[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
RuntimeDirectory=kube-scheduler
RuntimeDirectoryMode=0700
EnvironmentFile=/etc/s3secrets
ExecStartPre=/opt/bin/s3secrets --region ${AWS_REGION} --bucket ${BUCKET_NAME} --output-dir %t/kube-scheduler
ExecStart=/opt/bin/hyperkube scheduler \
  --master=http://127.0.0.1:8080 \
  --kubeconfig=%t/kube-scheduler/kubeconfig
Restart=always
RestartSec=10

[X-Fleet]
MachineMetadata=role=etcd
