
[Unit]
Description=AWS User Sync Service
Documentation=https://github.com/UKHomeOffice/aws_usersync
Requires=fleet.service
After=fleet.service

[Service]
Restart=always
RestartSec=10

EnvironmentFile=/etc/environment
Environment="URL=https://github.com/UKHomeOffice/aws_usersync/releases/download/v0.1.0/aws_usersync-0.1.0-linux-amd64"
Environment="OUTPUT_FILE=/opt/bin/aws_usersync"
Environment="MD5SUM=bd7e299597a38cd9c64f202d9f16e923"

ExecStartPre=/usr/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/bash -c 'until [[ -x ${OUTPUT_FILE} ]] && \
  [[ $(md5sum ${OUTPUT_FILE} | cut -f1 -d" ") == ${MD5SUM} ]]; \
  do wget -O ${OUTPUT_FILE} ${URL} && \
  chmod +x ${OUTPUT_FILE}; done'

ExecStart=/opt/bin/aws_usersync -o=false -i=5 -g="Devops" -I="root,core,vault"

[X-Fleet]
Global=true
