---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: induction-hello-world
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: induction-hello-world
    spec:
      containers:
      - name: hello-world-nodejs
        image: quay.io/ukhomeofficedigital/induction-hello-world:tim
        ports:
          - name: http
            containerPort: 4000
        resources:
          limits:
            cpu: 250m
            memory: 256Mi
